h1, h2, h3 {color: rgb(54, 30, 27);}

body {background-color: rgb(185, 160, 127);
    font-family: 'Heebo', sans-serif;
    color: rgb(66, 47, 33);
    margin: auto;
}

div {background-color: rgb(189, 132, 184);
     height: 400px;
    width: 500px;
    padding: 10px;
}


