body {background-color: rgb(185, 160, 127);
}

divI {background-color: rgb(189, 132, 184);
     height: 400px;
    width: 500px;
}

divD {background-color: lavender;
height: 400px;
width: 500px;
}

divN {background-color: snow;
height: 400px;
width: 500px;}