h1, h2, h3 {color: rgb(54, 30, 27);
    font-family: 'Heebo', sans-serif;
}

h1 {position: fixed;
   top:0px;
   left: 0px;
   padding: 10px;
   margin 0px;
   width: 100%;
   background-color: seashell;
}

body {background-color: rgb(185, 160, 127);
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(97, 69, 48);
    margin: auto;
    margin-top: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.Footnote {background-color: rgb(245, 207, 213);
    height: 100px;
    width: 700px;
    margin: 50px;
    padding-left: 10px ;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 5px  rgb(97, 69, 48);
}

.Ingredients {background-color: seashell;
     height: 300px;
    width: 700px;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 5px  rgb(97, 69, 48);
    float: left;
}

.Directions {background-color: rgb(245, 207, 213);;
    height: 400px;
    width: 700px;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 5px  rgb(97, 69, 48);
    float: left;
}

.Notes {background-color: seashell;
    height: 300px;
    width: 700px;
    margin: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 5px  rgb(97, 69, 48);
}