h1, h2, h3 {color: rgb(54, 30, 27);
    font-family: 'Heebo', sans-serif;
}

h1, h2 {text-align: center;}

h1 {position: fixed;
   top:0px;
   left: 0px;
   padding: 10px;
   margin: auto;
   width: 100%;
   background-color: seashell;
}

body {background-color: rgb(185, 160, 127);
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(97, 69, 48);
    margin: auto;
    margin-top: 30%;
    padding: 10px;
}

.img {border-style: solid;
    border-width: 10px;
    border-color: rgb(97, 69, 48);
    float: right;
    position: relative;
}

.Footnote {background-color: rgb(245, 207, 213);
    height: 100px;
    width: 700px;
    margin: 20px;
    padding: 10px ;
    border-style: solid;
    border-width: 10px;  
    border-color: rgb(97, 69, 48);
    float: left;
}

.Ingredients {background-color: seashell;
     height: 40%;
    width: 30%;
    margin: 20px;
    padding: 10px;
    border-style: dotted;
    border-width: 10px;  
    border-color: rgb(97, 69, 48);
    float: left;
}

.Directions {background-color: rgb(245, 207, 213);;
    height: 400px;
    width: 50%;
    margin: 20px;
    padding: 10px;
    border-style: dotted;
    border-width: 10px;  
    border-color: rgb(97, 69, 48);
    float: left;
}

.Notes {background-color: seashell;
    height: 250px;
    width: 30%;
    margin: 20px;
    padding: 10px;
    border-style: dotted;
    border-width: 10px;  
    border-color: rgb(97, 69, 48);
    float: left;
    position: relative;
}